html,body {
    padding:0;
    margin:0;
    height:100%;
}

body {
    width:100%;
}

.row {
    width:100%;
    height:50%;
}

.row div {
    width:33%;
    height:100%;
    float:left;
}

button.calcbutton {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	font-size:180%;
	overflow: visible; /* removes extra width in IE */
	width:24%;
	height:24%;
}

button.calcbutton2 {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	font-size:120%;
	overflow: visible; /* removes extra width in IE */
	width:24%;
	height:24%;
}